ion-item:hover {
    --background: #FFBCDA;
    --color: var(--ion-color-dark);
  }
  
  ion-item {
    --padding-start: 20px;
  }
  
  ion-item::part(detail-icon) {
    color: #E20470;;
    opacity: 1;
  }
  